<!-- Jinja: https://jinja.palletsprojects.com/en/3.1.x/ -->
<!-- simple.css: https://simplecss.org/ -->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1, width=device-width" charset="UTF-8">

    {% block head %}{% endblock %}

    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">


    <link rel="icon" href="static/images/favicon.ico">

</head>

<body>

    <h1 class="font">WebChess</h1>

    {% block main %}{% endblock %}

</body>

</html>
